.header {
  background: cadetblue;
  color: white;
  padding: 5px;
  outline: none;
  border-radius: 4px;
}

.header::before {
  content: '\f107';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.header.collapsed::before {
  content: '\f105';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.details {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.profile_pic {
  color: darkorange;
  border-radius: 50%;
  height: 70px;
  width: 60px;
  border: 1px solid rgba(0,0,0,0.6);
  float: left;
  margin: 10px;
}

.profile_size {
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix::before {
  display: table;
  content: " ";
}

.profile_body {
  padding: 10px;
}

.profile_banner {
  padding: 10px;
  background: darkcyan;
  color: white;
}

.profile {
  background: whitesmoke;
}

.account_body {
  padding: 5px;
}
.animate-repeat {
	line-height:30px;
	list-style:none;
	box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity:0;
	max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity:1;
	max-height:30px;
}